:root{
    --back-color: rgb(42, 42, 42);
    --calc-color: rgb(19, 19, 19);
    --button-color: rgb(30,30,30);
    --hover-color: rgb(153, 153, 153);
    --equal-color: orange;
    --prev-oper-color: rgba(255,255,255,0.7);
    --font-color: white;
    --delete-color: rgb(255, 111, 111);
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(42, 42, 42);
    color: var(--font-color);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
    
}

button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid var(--calc-color);
    outline: none;
    background-color: var(--button-color);
    color: var(--font-color);
}

.equal-button {
    background-color: var(--equal-color);
}

button:hover {
    background-color: var(--hover-color);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: var(--calc-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    color: var(--prev-oper-color);
    font-size: 1.5rem;
}

.current-operand {
    color: var(--font-color);
    font-size: 3rem;
}

.delete-button {
    background-color: var(--delete-color);
}

.all-clear {
    background-color: var(--delete-color);
}